---
const { sketch } = Astro.params

export async function getStaticPaths() {
  const files = import.meta.glob('./_sketches/*.ts')
  const paths = Object.keys(files).map((path) => {
    const sketch = path.split('/').pop()?.replace('.ts', '') ?? ''
    return {
      params: { sketch },
    }
  })
  return paths
}
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="rt-sketch" content={sketch} />
    <title>{sketch}</title>
  </head>
  <body>
    <img
      class="absolute w-0 h-0"
      src="https://librecounter.org/counter.svg"
      loading="eager"
      decoding="async"
      referrerpolicy="unsafe-url"
      id="libre-counter"
    />
    <script>
      const fileName = document
        .querySelector('meta[name="rt-sketch"]')
        ?.getAttribute('content')
      const modules = import.meta.glob('./_sketches/*.ts')
      modules[`./_sketches/${fileName}.ts`]()
    </script>
  </body>
</html>

<style is:global>
  html {
    overflow: hidden;
  }
  canvas {
    margin: auto;
  }
</style>
