---
import Basic from '@src/layouts/Basic.astro'
import Script from './_script?raw'
---

<Basic
  title="Kruskal animations"
  htmlClass="overflow-hidden"
  allowAnalytics={false}
  allowIndexing={false}
>
  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>

  <div
    class="flex w-full h-full bg-black items-center justify-center"
    id="kruskal-cnv"
  >
  </div>

  <script is:inline set:html={Script} />
</Basic>
