---
import GiphyBlock from '@src/pages/blog/_components/BlockList/blocks/GiphyBlock.vue'
import Basic from '@src/layouts/Basic.astro'
---

<Basic title="Error - 404">
  <div
    class="flex flex-col gap-8 h-full m-auto max-w-xl items-center justify-center p-2"
  >
    <GiphyBlock
      block={{
        text: `1EmBoG0IL50VIJLWTs$%&${`404: Página no encontrada`}`,
        type: 'GiphyBlock',
      }}
      editMode={false}
    />
    <h2>
      <a href="/">Inicio</a>
    </h2>
  </div>
</Basic>
