---
import Basic from '@src/layouts/Basic.astro'
import Script from './_splinesCubicos?raw'
---

<Basic
  showPaths
  title="Splines cúbicos"
  scripts={[
    'https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js',
  ]}
>
  <div class="flex flex-col mx-auto w-fit py-8 gap-y-8">
    <h1>Splines cúbicos</h1>

    <div class="flex w-fit" id="cnv"></div>

    <div class="flex flex-col gap-4" id="description">
      <div class="flex items-center gap-4" id="interactive">Puntos:</div>
      <h2>Sistema tridiagonal</h2>
      <p>Parte M del SEL: Mz = f</p>
      <div class="font-mono overflow-x-scroll w-fit mx-auto" id="matriz"></div>

      <h2>F asociada</h2>
      <p>Parte f del SEL: Mz = f</p>
      <div id="arregloRes"></div>

      <h2>Z resultante</h2>
      <p>Parte z del SEL: Mz = f</p>
      <div id="arregloInc"></div>
    </div>

    <div class="break-words max-w-full">
      <p>Basado en:</p>
      <ul>
        <li>
          <a href="https://www.uv.es/diaz/mn/node40.html" target="_blank"
            >https://www.uv.es/diaz/mn/node40.html</a
          >
        </li>
      </ul>
    </div>
  </div>

  <script is:inline set:html={Script} />
</Basic>
